body{


    width: 100%;


}




.ml-auto .menu{
    color:#fff;
}




/* Mobile screen style */
@media(min-width: 360px){


    .logo{


        font-family: 'Leckerli One', cursive;
      color:rgba(218, 208, 208, 0.788) !important;
 
     }


    .Nav{    
        font-size: 1.3rem;
    
        background:#1a508b;
        background-position: 0%;





    }


    .menu{
        color:rgba(218, 208, 208, 0.788) !important;
    }

    .body{



        background-image:url("./back_ground.jpg") ;
        height: 20rem;
        background-repeat: no-repeat;
        background-position: center;
        background-size: 125rem;



    }


    .me{


        width: 90%;

        background: rgba(12, 6, 6, 0.678);

        margin: 0% 7% ;

        position: relative;

        top: 3rem;
        height:15rem;


    }




    
    

}



/* Desktop screen style */

@media(min-width: 760px){

    .logo{


       font-family: 'Leckerli One', cursive;
     color:rgba(218, 208, 208, 0.788) !important;

    font-size: 9rem;

    }
    



    .Nav{

        padding: 0% 10rem;
    
        font-size: 1.3rem;
    
        background:#1a508b;
    }


    .menu{
        color:rgba(218, 208, 208, 0.788) !important;
    }
    
    


    .body{

        background-image:url("./back_ground.jpg") ;
        height: 50rem;
        background-repeat: no-repeat;
        background-position: center;
        background-size: 125rem;




    }

    .me{


        width: 30%;

        background: rgba(12, 6, 6, 0.678);

        margin-left: 12%;

        position: relative;

        top: 3rem;
        height:35rem;


    }



    
}