body{


    width: 100%;


}




.ml-auto .menu{
    color:#fff;
}




/* Mobile screen style */
@media(min-width: 360px){


    .logo{


        font-family: 'Leckerli One', cursive;
      color:rgba(218, 208, 208, 0.788) !important;
 
     }


    .Nav{    
        font-size: 1.3rem;
    
        background:#1a508b;
        background-position: 0%;





    }


    .menu{
        color:rgba(218, 208, 208, 0.788) !important;
    }

    .body{



        background-image:url("./back_ground.jpg") ;
        height: 30rem;
        background-repeat: no-repeat;
        background-position: center;
        background-size: 125rem;




    }


    .me{


        width: 90%;

        background: rgba(12, 6, 6, 0.925);

        margin: 0% 7% ;

        position: relative;

        top: 3rem;


    }

    .homeimg{

        border-radius: 20rem ;
        width: 45%;
        padding: 4%;
        float: left;
        clear: both;

    }

    
    .heading{

        color: rgba(218, 208, 208, 0.788) ;

        font-size: 30px;
        text-align: center;
        font-weight: bolder;
    }


    .paragraph{
        color: #1365bd;
        text-align: center;
        font-weight: bold;
        font-size: 120%;


    }

    .home-about{


        color: white;
        padding: 2%;
    }
    
    .social{

        padding: 2% 14%;

    }

    .social img{

        width: 23%;


        padding: 4%;

       

    }

    

}



/* Desktop screen style */

@media(min-width: 760px){

    .logo{


       font-family: 'Leckerli One', cursive;
     color:rgba(218, 208, 208, 0.788) !important;

    font-size: 9rem;

    }
    



    .Nav{

        padding: 0% 10rem;
    
        font-size: 1.3rem;
    
        background:#1a508b;
    }


    .menu{
        color:rgba(218, 208, 208, 0.788) !important;
    }
    
    


    .body{

        background-image:url("./back_ground.jpg") ;
        height: 50rem;
        background-repeat: no-repeat;
        background-position: center;
        background-size: 120rem;




    }

    .me{


        width: 30%;

        background: rgba(12, 6, 6, 0.856);

        margin-left: 12%;

        position: relative;

        top: 3rem;
        height:35rem;


    }

    .homeimg{

        border-radius: 20rem ;
        width: 39%;
        padding: 4%;
        float: left;
    }



   

    
}